.header{
    background-color: #FFD643;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3em;
    /*padding-right: 30px;*/
    padding: 10px;
}

.round {
    cursor: pointer;
    margin-right: 40px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: gray;
}

.link{
    align-self: center;
    font-size: 18px;
    text-decoration: none;
    margin: 0 10px;
    font-family: "Inter Bold", sans-serif;
}
