.flexRow {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.flexColumn{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.leftTitle{
    align-self: flex-start;
    font-size: 50px;
    margin-left: 100px;
}

.titleSmall{
    margin: 15px 0;
    font-family: "Inter Bold", sans-serif;
    font-size: 20px;
}

.text{
    margin: 15px 0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    max-width: 500px;
    overflow: auto;
}

.section{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    margin: 60px;
}

.verticalLine {
    height: 300px;
    width: 1px;
    border-left: 1px solid black;
}

.linkColor{
    color: #0038FF;
}
