.form {
    width: 450px;
    padding: 20px 40px 20px 40px;
    /*padding-right: 40px;*/
    /*padding-left: 40px;*/
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

form.bigSize{
    width: 80%;
}

.titleForm {
    margin-bottom: 30px;
    align-self: flex-start;
    font-size: 30px;
}

.prime {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 80%;
    cursor: pointer;
    background-color: #FFD643;
    align-self: center;
    border-radius: 40px;
    height: 45px;
    border: none;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}

.alert{
    background-color: red;
}

.secundus {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    width: 80%;
    cursor: pointer;
    background-color: gray;
    color: #FFD643;
    align-self: center;
    border-radius: 40px;
    height: 45px;
    border: none;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}
